extends analyze

block results
  .container
    .row
      .col-xs-6.col-xs-offset-3
        table.table
          tr
            td(style='text-align: center', colspan='4')
              img#thumbnailImage(style='width:#{analysisData.screenshot.width};height:#{analysisData.screenshot.height};',src='#{thumbnailSrc}')
          tr
            td 
              h3.small Perf. Grade
              h3 #{analysisData.score}/100
            td
              h3.small Requests
              h3 #{analysisData.pageStats.numberResources}
            td
              h3.small Page Size
              h3 #{humanReadablePageSize}
            td
              h3.small Image Size
              h3 #{humanReadableImageSize}
