extends layout

block head
  script(src='http://feather.aviary.com/js/feather.js')
  script(src='./js/aviary.js')

block content
  .page-header
    h1 PrimeDisplay Image Stats

    each pdImage in _pd_allImages
      ul
        li
          img(id=pdImage._id,
          src='#{pdImage.raw_url}', 
          width='50')
        li Impressions: #{pdImage.impressions}
        li Server URL: #{pdImage.serve_url}
        li Created: #{pdImage.creationDate}
        li Everything: #{pdImage}

        script.
          $('#!{pdImage._id}').click({pdImage: !{JSON.stringify(pdImage)} }, launchEditor);
