extends layout

block content
  .page-header
    h1 PrimeDisplay JavaScript

    |Copy the following JavaScript and paste into the tail end of each web page which PrimeDisplay should cache images.
    |You need to have a website filled in on your account page

    if(user)
      pre.
        #{user}
        #{user._id}

    form(action='http://localhost:3000/image-stat/postadd',method='post',id='pdisform')
      |Raw URL
      input(type='text', name='raw_url')
      |User ID:
      if(user)
        input(type='text', name='_pdAccount', value=user._id)
        input(type='text', name='_pdDomain', value=user.profile.website)
      else
        input(type='text', name='_pdAccount')
        input(type='text', name='_pdDomain')
      input(type='hidden', name='_csrf', value=token)
      input(type='submit',name='served', value='served')

